.p-button.p-button-info,
  .p-buttonset.p-button-info > .p-button,
  .p-splitbutton.p-button-info > .p-button {
    color: #ffffff;
    background: #192a51;;
    border: 1px solid #192a51;;
  }
  .p-button.p-button-info:not(:disabled):hover,
  .p-buttonset.p-button-info > .p-button:not(:disabled):hover,
  .p-splitbutton.p-button-info > .p-button:not(:disabled):hover {
    background: #138496;
    color: #ffffff;
    border-color: #117a8b;
  }
  .p-button.p-button-info:not(:disabled):focus,
  .p-buttonset.p-button-info > .p-button:not(:disabled):focus,
  .p-splitbutton.p-button-info > .p-button:not(:disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
  }
  .p-button.p-button-info:not(:disabled):active,
  .p-buttonset.p-button-info > .p-button:not(:disabled):active,
  .p-splitbutton.p-button-info > .p-button:not(:disabled):active {
    background: #138496;
    color: #ffffff;
    border-color: #117a8b;
  }
  .p-button.p-button-info.p-button-outlined,
  .p-buttonset.p-button-info > .p-button.p-button-outlined,
  .p-splitbutton.p-button-info > .p-button.p-button-outlined {
    background-color: transparent;
    color: #192a51;;
    border: 1px solid;
  }
  .p-button.p-button-info.p-button-outlined:not(:disabled):hover,
  .p-buttonset.p-button-info > .p-button.p-button-outlined:not(:disabled):hover,
  .p-splitbutton.p-button-info
    > .p-button.p-button-outlined:not(:disabled):hover {
    background: rgba(23, 162, 184, 0.04);
    color: #192a51;;
    border: 1px solid;
  }
  .p-button.p-button-info.p-button-outlined:not(:disabled):active,
  .p-buttonset.p-button-info
    > .p-button.p-button-outlined:not(:disabled):active,
  .p-splitbutton.p-button-info
    > .p-button.p-button-outlined:not(:disabled):active {
    background: rgba(23, 162, 184, 0.16);
    color: #192a51;;
    border: 1px solid;
  }
  .p-button.p-button-info.p-button-text,
  .p-buttonset.p-button-info > .p-button.p-button-text,
  .p-splitbutton.p-button-info > .p-button.p-button-text {
    background-color: transparent;
    color: #192a51;;
    border-color: transparent;
  }
  .p-button.p-button-info.p-button-text:not(:disabled):hover,
  .p-buttonset.p-button-info > .p-button.p-button-text:not(:disabled):hover,
  .p-splitbutton.p-button-info > .p-button.p-button-text:not(:disabled):hover {
    background: rgba(23, 162, 184, 0.04);
    border-color: transparent;
    color: #192a51;;
  }
  .p-button.p-button-info.p-button-text:not(:disabled):active,
  .p-buttonset.p-button-info > .p-button.p-button-text:not(:disabled):active,
  .p-splitbutton.p-button-info > .p-button.p-button-text:not(:disabled):active {
    background: rgba(23, 162, 184, 0.16);
    border-color: transparent;
    color: #192a51;;
  }

  
  .p-paginator .p-paginator-pages .p-paginator-page {
    background-color: #192a51;
    color: white;

  }

 

  